
@{
    ViewData["Title"] = "About";
}

<h1>About</h1>
<article>
    <section>
        <h2>Wie</h2>
        <h3>Joshua Tack</h3>

        <h3>Darwyn Bruelemans</h3>
    </section>
    <section>
        <h2>Wat</h2>
        <p></p>
    </section>
    <section>
        <h2>Waar</h2>
    </section>
</article>
