@{
    ViewData["Title"] = "Home page";
}

<div>
    <article>
        <div class="text-center">
            <h1 class="display-4">Football Universe</h1>
            <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        </div>        
        <section>
            <h2 class="card-title">Beschrijving van de problematiek</h2>
            <p>
                Binnen de Profliga, een organisatie die de clubs uit de Jupiler League van het Belgische
                voetbal verenigt groeit stilaan het besef dat een grotere professionalisering noodzakelijk is.
                Clubs kunnen niet allen overleven van de, vaak onzekere, televisie‐inkomsten. Een goed
                draaiende club moet steunen op goed gevulde tribunes.
                Voetbal mag daarbij niet alleen een sport zijn voor de verstokte fans, maar moet een
                sfeervol gebeuren zijn voor elke supporter. Het is daarbij belangrijk om 'voetbal' als één
                product aan te bieden, aantrekkelijk voor een breed publiek. Een avondje voetbal moet
                gepromoot worden als een ideaal avondje uit, met een vriendengroepje, met een goede
                vriend of vriendin of met het hele gezin.
                Een belangrijk aspect in die promotie van het voetbal is de ticketverkoop. Lange tijd was de
                ticketverkoop erg versnipperd. Er bestond wel een centrale fankaart, een verplichte
                registratiekaart om toegang te kunnen krijgen tot de stadions, maar voor de rest had elke
                club zijn eigen ticketverkoop. Elke club hanteerde daarbij een eigen
                systeem voor tarifering, een eigen indeling in vakken en voor de aankoop van een ticket
                moet een supporter zelf tijdens de openingsuren van de verkoopskantoor van die specifieke
                club zijn ticket bij de club gaan aankopen.
            </p>
        </section>
        <section>
            <p>
                De versnippering werkt nadelig voor de ticketverkoop. Door die versnippering is het bijna
                onmogelijk om voetbal als één aantrekkelijk product voor te stellen. Voor iedere wedstrijd
                moet een supporter die zich niet aan een supportersclub wil binden, op speurtocht gaan om
                de specifieke voorwaarden en procedures om een ticket voor die wedstrijd bij die club terug
                te vinden. Het is niet verwonderlijk dat supporters zich
                meestal beperken tot de thuiswedstrijden van hun eigen favoriete club,
                alhoewel ons landje niet zo groot is en de stadions dicht bij elkaar liggen.
                De occasionele of neutrale supporter wordt zeker niet aangemoedigd om een wedstrijd te
                gaan bezoeken.
                Voor de jonge supporter, voor wie het World Wide Web een natuurlijke biotoop is, valt er op
                voetbalgebied heel wat te beleven. Helaas blijft ticketverkoop via het Internet in België wat
                achterop hinken. De ticketverkoop gebeurt nog te veel via de klassieke kanalen.
                Het werd dringend tijd om aan deze toestand een einde te maken. De Belgische ploegen uit
                eerste klasse hebben besloten om de handen in elkaar te slaan en een aantrekkelijk
                portaalsite te creëren. Een essentieel onderdeel van de portaalsite is on‐line verkoop van
                tickets. Daarvoor heeft men het tariferingssysteem voor competitiewedstrijden
                gestroomlijnd. Elke club kan nog eigen tarieven bepalen voor de tickets, maar de soorten
                tickets, de voorwaarden tot aankoop en de
                aankoopprocedure zijn dezelfde.
            </p>
        </section>
    </article>
</div>
