.match {
    width: inherit;
    display: flex;
    justify-content: space-between;
}
.match .center {
    margin: auto;
    text-align: center;
}
.match figure{
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
}
.match figure img {
    width: 120px;
}
select{
    display: inline;
}